#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
@File    :   config.py
@Time    :   2023/10/09 19:48:20
@Author  :   lvguanjun
@Desc    :   config.py
"""


import subprocess

import redis

DEBUG_MODULE = True

redis_config = {
    "host": "127.0.0.1",
    "db": 1,
    "port": 6379,
    "decode_responses": True,
}
redis_cli = redis.Redis(**redis_config)

gpt3_redis_cli = redis.Redis(**redis_config)
gpt3_redis_cli.select(2)

# token提前过期时间
TOKEN_EXPIRE_EXTRA_TIME = 432000  # 5天

# refresh 提前刷新时间
REFRESH_EXTRA_TIME = -1  # 刷新所有token

# datetime格式
DATETIME_FORMAT = "%Y-%m-%d %H:%M:%S"

# 代理，针对 wsl2 配置，个人无需配置设置为 None 即可
output = subprocess.check_output(
    'cat /etc/resolv.conf | grep "nameserver" | cut -f 2 -d " "', shell=True
)
host_ip = output.decode().strip()
PROXY = f"http://{host_ip}:7890"

# share token 唯一标识
SHARE_TOKEN_UNIQUE_NAME = "xxxx"

# 需要更新的 pool token，为 None 则生成新的 pool token
POOL_TOKEN = "pk-***"